
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Roboto:wght@400;500&family=Teko:wght@400;600&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eee;
  display: flex;
  flex-direction: column;
}

/* .header {
  width: 100%;
  height: 13vh;
} */

body {
  background-image: url(./assets/pexels-daniel-putzer-633409.jpg);
  background-position: center;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100vh;
}

main {
  width: 95%;
  color: #eee;
  margin: 2rem auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6rem;
}

h1 {
  color: rgb(190, 198, 209);
  font-size: 4rem !important;
  box-shadow: 2px 3px 15px;
  margin-top: 0 !important;
  padding: 1.5rem 0;
  /* border-bottom: 1px solid rgb(123, 138, 139); */
}

h1,
h2 {
  text-align: center;
  margin-top: 50px;
  letter-spacing: .2rem;
  font-size: 2rem;
  font-family: "Teko", sans-serif;
  transition: all 0.3s ease;
}

h2:hover {
  transform: scale(1.4);
}

ul {
  /* border: 1px solid black; */
  padding: 15px 45px;
  border-radius: 20px;
  transition: all 0.3s ease;
  box-shadow: 2px 3px 15px;
}

ul {
  margin-top: 3rem;
}

ul:hover {
  background-color: #eee;
  transform: scale(1.2);
  box-shadow: 3px 3px 10px black;
}

ul:hover a {
  color: #000;
}

li {
  list-style: none;
  padding-top: 3px;
}

i {
  color: #bf5f2b;
}

.react i,
.javascript i {
    color: orange;
    font-size: xx-large;
}

a {
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
  padding-left: 5px;
  color: #eee;
  transition: all .3s ease;
}

a:hover {
    color: #c11717 !important;
    transform: scale(1.1);
}
