@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@400;500&family=Teko:wght@400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 60%;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  margin: 10rem auto;
  background-color: orange;
  padding: 5rem 2rem;
  border: 3px solid rgb(129, 129, 162);
  border-radius: 15px;
}

.container .title {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: left;
  cursor: pointer;
}

.container .img-content {
  width: 400px;
  height: 350px;
  overflow: hidden;
  margin: 1rem auto;
  cursor: pointer;
}

.container .img-content img {
  width: 100%;
  height: 100%;
  border: 3px solid rgb(134, 134, 182);
  border-radius: 15px;
  background-position: center center;
}

.container .buttons {
  margin: 1.5rem auto;
}

.container .buttons .btn {
  border: 2px solid rgb(134, 134, 182);
  padding: 0.5rem 1.5rem;
  border-radius: 10px;
  margin: 0 0.3rem;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all .5s ease;
}

.container .buttons .btn:hover {
  background-color: orangered;
  color: #eee;
  border-color: #eee;
  transform: scale(.9);
}
