    .container {
        background-color: #99abb3;
        box-shadow: 3px 5px 15px rgb(235, 135, 131);
        border-radius: 15px;
    }

    .right, .card, .bottom {
        background-color: #c2d4e9 !important;
    }

    .right {
        border: 1px solid rgb(159, 159, 230);
        box-shadow: 2px 3px 15px rgb(141, 125, 125);
    }

    img:hover {
        transform: scale(1.1);
        transition: all .5s ease;
    }

    /* .right .btn, 
    button i {
        background-color: #e4d7d7 !important;
    } */